body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.timetable {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    font-size: 14px;
}



@media (max-width: 768px) {
    .timetable {
        width: 100%;
    }
}